.vscode/**
.vscode-test/**
.github/**
src/**
test/**
scripts/**
node_modules/**
coverage/**
**/*.ts
**/*.map
.gitignore
.eslintrc.json
.prettierrc
.prettierignore
vitest.config.ts
esbuild.js
tsconfig.json
package-lock.json
**/.eslintcache
*.vsix
